.cabecalho {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: darkred;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Rochester', sans-serif;
    align-items: baseline;    
    width: 1280px;
    height: 90px;
}

.titulo_ppal {
    color: burlywood;
    font-size: 68px;
    font-weight: 400;
    grid-column: 1;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 450px;
    padding-left: 22px;    
}

.navega {
    background-color: burlywood;
    text-decoration: none;
    color: black;
    border-radius: 15%;
    font-size: 40px;
    padding: 7px;
    margin: 5px;
}

.nav {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    width: 800px;
    column-gap: 15px;
    height: 60px;
}

.imagem_ppal {
    width: 1280px;
    height: 600px;
    margin-left: 2%;
    margin-right: 2%;
}

.main {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    width: 1280px;
    height: 500px;
    margin-left: 45px;
    margin-right: 2%;
    column-gap: 40px;
}

.mulher {
    width: 250px;
}

.homen {
    width: 250px;
}

.gravida {
    width: 250px;
}

.anel {
    width: 250px;
}

.subtitulo {
    font-size: 25px;
    font-weight: 600;
    color: brown;
    padding-top: 10px;
    padding-bottom: 15px;
}

.debaixo_subtitulo {
    font-size: 18px;
    padding-top: 5px;

}

.complemento {
    display: grid;
    grid-template-columns: 250px 250px 450px;
    grid-template-rows: 50px 100px 100px 100px;
    margin-left: 45px;
    margin-right: 10px;
    max-width: 1100px;
    height: 400px;
    column-gap: 40px;
}

.imagems1,
.imagems2 {
    height: 100px;
    width: 100px;
    grid-column: 1 / 2;     
    background-color: palevioletred; 
}

.texto1,
.texto2 {
    height: 100px;
    width: 150px;
    grid-column: 2 / span 1;
    background-color: red;      
}

.imagem_bolo {
    width: 400px;
}

.calcados {
    background-color: aqua;
    grid-column: 1 / span 2; 
    grid-row: 1/ span 4;
    width: 250px;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.arranjos {
    background-color: gray;
    grid-column: 2 / span 2;
    grid-row: 1/ span 4;
    width: 250px;
    grid-template-columns: 1fr 1fr;
    display: inline-grid;
}

.bolos {
    background-color: blueviolet;
    grid-column: 3 / 5;
    grid-row: 1/ span 4;
    width: 500px;
}

.rodape {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: 300px 50px;
    width: 1100px;
    margin-left: 45px;
    margin-right: 10px;
    
}

.esquerda {
    grid-column: 1 / 2;
    background-color: aqua;
    padding: 20px;
}

.direita {
    grid-column: 2 / 3;
    background-color: blueviolet;
    padding: 20px;
}

.final {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    background-color: royalblue;
    justify-content: center;

}

.subtitulox {
    font-size: 25px;
    font-weight: 600;
    color: brown;
    width: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}